@import '../../../../common/generall.scss';

.search {
	@include text-secondary;
	@include border(50%, 2px, var(--text-color-second));
	position: absolute;
	z-index: 10;
	top: 1rem;
	right: 0rem;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	transition: all 0.5s ease;
	@media (min-width: 575.98px) {
		top: 1.25rem;
		top: 2.25rem;
		right: 5rem;
	}
	background-color: transparent;
	&.expanded {
		width: 100%;
		border-radius: 1.25rem;
		@media (min-width: 575.98px) {
			width: 50%;
		}
		@media (min-width: 991.98px) {
			width: 30%;
		}
	}

	.search__input {
		@include glass-background;
		font-size: 1rem;
		padding-left: 1rem;
		padding-right: 2rem;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&.expanded .search__input {
		opacity: 1;
	}
	&.expanded .search__btn {
		transition: all 0.5s ease;
		transform: rotate(44deg);
		opacity: 1;
	}

	.search__btn {
		@include flex-center;
		background-color: transparent;
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		top: -3px;
		right: -2px;
		transition: all 0.5s ease;
	}

	.search__icon {
		@include text-special;
		@include text-hover;
		font-size: 1.4rem;
	}
}
