@import '../../../common/generall.scss';

.inputWrapper {
	@include flex-gap(0rem, column);
	margin-bottom: 1rem;
}

.label {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.customInput {
	@include button-style;

	&.error {
		border-color: #830000;
	}
}
