.swiperWrapper {
	.slick-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1rem !important; // Отступы по умолчанию для мобильных устройств
	}

	.slideContainer {
		padding: 0 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	.slick-list {
		margin: 0;
	}
}

@media (min-width: 319.98px) {
	.slideContainer {
		height: 22.5rem;
		img {
			height: 100%;
			border-radius: 1rem;
		}
	}
}

@media (min-width: 1199.98px) {
	.slideContainer {
		height: 28rem;
		img {
			border-radius: 2rem;
		}
	}
}
